a{
    font-size: 1.1em;
}

h1{
    text-align: center;
    color: dodgerblue;
    text-transform: uppercase;
}
#good{
    visibility: hidden;
}

/* .conteneur{
    width: 550px;
    height: 50vh;
    border: 2px solid black;
    margin-top: 20px;
    border-radius: 10px;

} */

form{
    margin-top: 20px;
}

.lesDeux{	
	width: 70%;
	padding: 10px 10px;
	margin: 10px 10px;
	border-radius: 10px;
    font-size: 1.3em;
    text-align: center;
    
}

.bad{
    /* visibility: hidden; */
    border: 2px solid red;
}

.good{
    border: 2px solid green;
}
.alerte{
    border: 2px solid orange;
}

.question{
    padding-top: 10px;
    margin-top: 10px;
}


.line{
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1200px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
}

.commune{
    border: 1px solid green;
    text-align: left;
    width: 500px;
    height: 40vh;
}

h1{
    text-align: center;
    color: dodgerblue;
}

h2:hover{
    cursor: grab;
    color: dodgerblue;
}

ul{
    visibility: hidden;
}

ul li a{
    text-decoration: none;
    color:blue;
    letter-spacing: 0.3rem;
}

.conteneur-con{
    padding-top: 10px;
    margin-top: 10%;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 40vh;
    background: linear-gradient(to right,red,yellow,green);
}
button[type="submit"]{
    margin-left: 25%;
    width: 50%;
}

button[type="submit"]:hover{
    background-color: dodgerblue;
    color: white;
    opacity: 0.9;
}

.conteneur-ins{
    padding-top: 20px;
    margin-top: 5%;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    height: 70vh;
    background: linear-gradient(to left,red,yellow,green);
}

.annonce{
    text-transform: capitalize;
    animation: 2s infinite annonce;
}

@keyframes annonce {
    0% {
      letter-spacing: 1em;
      transform: translateZ(400px);
      opacity: 0;
    }
    40%{
        color: dodgerblue;
    }
    70% {
      opacity: 0.6;
      color: red;
    }
    100% {
      transform: translateZ(0);
      opacity: 1;
    }
  }