*{
    box-sizing: 0;
    margin: 0;
    background-color: #fff;
}
header{
    padding-left: 5%;
    font-size: 1.1em;
    text-align: right;
    padding-top: 10px;
}

a.a:hover{    
    border: 1px solid black;
    border-radius: 10px;
}

nav > div{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

header nav div a{
    padding: 0px 10px;
    text-decoration: none;
}
.islam{
    color: orange;
}
.lien_1{
    margin-left: 5%;
}
.lien_2{
    margin-left: 10%;
    padding: 0px;
}
#ins{
    background-color: dodgerblue;
    color: whitesmoke;
    border-radius: 5px;
}
#ins:hover{
    color: black;
    font-weight: bold;
}
#con{
    background-color: white;
    border-radius: 5px;
}
#con:hover{
    color: black;
    font-weight: bold;
}

.conteneur h3{
    text-align: center;
}

a i{
    display: none;
}

@media screen and (max-width: 900px) {
    .a{
      display: none;
    }
    .annonce{
      font-size: 2em;
    }

    .islam a{
        color: orange;
    }
    a i{
      display: block;
    }

    .authentification{
        display: none;
    }


    @keyframes annonce {
      0% {
        letter-spacing: 3px;
        transform: translateZ(400px);
        opacity: 0;
      }
      40% {
        opacity: 0.6;
      }
      100% {
        transform: translateZ(0);
        opacity: 1;
      }
    }
}
